@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*  {
    font-family: "Comfortaa", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
}

body{
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-gutter: stable;
    background-attachment: fixed;
  }

input {
    border: none;
    border-radius: 5px;
    outline: none;
}
button {
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}

body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track {
    background: #494949;
}
body::-webkit-scrollbar-thumb {
    background: #292929;
}
