@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*  {
    font-family: "Comfortaa", sans-serif;
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}

input {
    border: none;
    border-radius: 5px;
    outline: none;
}
button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
.container {
    background-color: rgba(0, 0, 0, .5);
}
.weather {
    border-radius: 5px;
}