body{
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  scrollbar-gutter: stable;
}


.weather-container {
  max-width: 730px;
  width: 80%;
  margin: 0px auto;
}

.navbar, .container {
  background-color: rgba(14, 14, 14, 0.8);
  backdrop-filter: blur(6px);
}
.container {
  border-radius: 20px;
}
.weather {
  border-radius: 5px;
}

.loading {
  z-index: 9;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #24e26d;
  border-color: #24e26d transparent #24e26d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}