
.location-text {
    font-size: 25px;
}

.current-weather .container .curr-data .title {
    position: absolute;
    border-bottom: 2px solid white;
    top: 10px;
}

.current-weather .content {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.current-weather .content .curr-data {
    width: 50%;
    /* background-color: rgba(130, 130, 130, 0.5); */
}

.curr-data {
    text-align: center;

}

.main p {
    margin-bottom: 10px;
}
.main div {
    display: flex;
}

.temps {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temps img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    margin-bottom: 10px;
}


.wind, .high-low {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.wind div, .high-low div {
    width: 90px;
    margin: 5px 20px;
}



.current-weather .second-row {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.current-weather .second-row img {
    filter: invert(100%);
    width: 40px;
    height: 40px;
}

.sun img {
    margin-bottom: 10px;
}
.sun div:nth-child(2), .visibility div:nth-child(2) {
    margin-left: 30px
}
.sun, .visibility {
    display: flex;
}

.sun, .pressure, .visibility, .feels-like {
    padding: 15px 20px;
    text-align: center;
    margin: 0px 0px 10px 5px;
    flex: 1;
}
