
.location-text {
    font-size: 25px;
}

.current-weather .content .title {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    top: 15px;
    left: 20px;
}

.current-weather .content .title h2 {
    border-bottom: 1px solid white;
}

.current-weather .content {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}
.current-weather .content .curr-data {
    width: 300px;
    margin-top: 60px;
    text-align: center;
}

.main p {
    margin-bottom: 10px;
}
.main div {
    display: flex;
}

.temps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temps img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    margin-bottom: 10px;
}


.wind, .high-low {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.wind div, .high-low div {
    width: 90px;
    margin: 5px 20px;
}



.current-weather .second-row {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.current-weather .second-row img {
    filter: invert(100%);
    width: 40px;
    height: 40px;
}

.sun img {
    margin-bottom: 10px;
}
.sun div:nth-child(2), .visibility div:nth-child(2) {
    margin-left: 30px
}


.second-row .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.feels-like, .pressure {
    flex-direction: column;
}
.feels-like img {
    margin: 5px 0px 10px 0px;
}

.sun, .pressure, .visibility, .feels-like {
    padding: 15px 20px;
    text-align: center;
    margin: 0px 0px 10px 5px;
    flex: 1;
}

@media (max-width: 700px) {
    #date, #title {
        display: none;
    }
}
