
.location-text {
    font-size: 25px;
}
.current-weather {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.current-weather div {
    margin: 0px 60px;
}

.curr-data {
    text-align: center;

}

.main p {
    margin-bottom: 10px;
}
.main div {
    display: flex;
}

.temps div{
    margin: 20px 0px;
}

.temps img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    margin-bottom: 10px;
}

.temps .high-low {
    display: flex;
}
.temps .high-low div:last-child {
    margin-left: 40px;
}
