
.five-day {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 85px 20px 60px 20px;
    margin-bottom: 30px;
    overflow: auto;
}

.five-day .title {
    position: absolute;
    top: 20px;
    left: 20px;
    border-bottom: 1px solid white;
}

.five-day img {
    width: 60px;
}

.five-day .list-item {
    border-right: 1px solid lightgray;
    padding: 0px 35px;
    border-right: 1px solid rgba(110, 110, 110, 0.5);
}

.five-day div:last-child {
    border-right: none;
}


.five-day::-webkit-scrollbar {
    height: 10px;
    margin: 0px 20px;
}
.five-day::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 100px;
}
.five-day::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 100px;
}