
.five-day {
    padding: 85px 20px 30px 20px;
    margin-bottom: 50px;
}

.five-day .list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: auto;
    padding-bottom: 30px;
}

.five-day .title {
    position: absolute;
    top: 20px;
    left: 20px;
    border-bottom: 1px solid white;
}

.five-day img {
    width: 60px;
}

.five-day .list-item {
    border-right: 1px solid lightgray;
    padding: 0px 35px;
    border-right: 1px solid rgba(110, 110, 110, 0.5);
}

.five-day div:last-child {
    border-right: none;
}


.five-day .list::-webkit-scrollbar {
    height: 10px;
    margin: 0px 20px;
}
.five-day .list::-webkit-scrollbar-track {
    background: #181818;
    border-radius: 100px;
}
.five-day .list::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 100px;
}