* {
    color: white;
}
.navbar {
    padding: 10px;
    margin-bottom: 40px;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 80%;
    margin: 0px auto;
}

input[type=text] {
    margin-right: 10px;
    padding: 3px 5px;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color: white;
}
::placeholder {
    color: rgba(221, 221, 221, 0.7);
}


button {
    background: transparent;
    border-radius: 80px;
    padding: 5px;
}
button:hover {
    background-color: rgba(74, 224, 134, 0.7);
}



.controls {
    display: flex;
    align-items: center;
}


select {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  width: 100%;
  padding: 0px 9px;
}


select::-ms-expand {
    display: none;
}

option {
    background-color: white;
}

.select-div {
    margin-right: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}


option {
    border: none;

    color: black;
}